body {
    background: linear-gradient(to right, rgb(6,15,27),rgb(89,108,133));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: rgb(255,255,255);
}

.header a {
    color: rgb(255,255,255);
    text-decoration: none;
}

.form {
    display: flex;
    position: absolute;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formContainer {
    padding: 5em;
    color: rgb(255,255,255);
    background-color: rgb(0,0,0, 0.4);
}

#searchLabel {
    display: block;
    font-size: 3em;
    margin-bottom: 1em;
}

#searchBar {
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    border: none;
}

#searchBar:focus {
    outline: none;
}

.button {
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
    margin: auto;
    color: rgb(255,255,255);
    background-color: rgb(67, 77, 90);
    cursor: pointer;
}

.formContainer .button {
    width: 80%;
}

.nav .button {
    width: 40%;
    font-size: 0.8em;
    background: none;
    margin-left: 5%;
    margin-right: 5%;
}

.button:hover {
    background-color: rgb(96, 103, 131);
}

.button:focus {
    outline: none;
}

#notFound {
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#notFoundHeader {
    font-size: 40px;
}

#notFoundText {

    font-size: 20px;
}

.icon {
    height: 150px;
    margin: 0 200px;
}

.data {
    margin: 0 150px;
}

.weatherContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 2em;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.weatherData {
    margin-top: 1.5em;
}

.nav .active {
    background-color: rgb(0, 0, 0, 0.4);
}

table, th, td {
    border: 1px solid rgb(255,255,255);
    border-collapse: collapse;
    margin: 0 auto;
}